.clock {
  display: flex;
  gap: 24px;
  padding-top: 32px;
  padding-left: 32px;
  text-align: center;
}

.field {
  height: 72px;
}

.value {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.label {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  color: #2e2f42;
}

.timer {
  width: 346px;
}

#datetime-picker {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
}
.date {
  padding-left: 32px;
  padding-top: 32px;
}

.on {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 80px;
  height: 45px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.on:hover,
.on:focus {
  background: #6c8cff;
}
.on[disabled] {
  background: #cfcfcf;
  color: #989898;
}

#datetime-picker:hover,
#datetime-picker:focus {
  border: 1px solid #4e75ff;
}