.form {
  width: 360px;
}
.time {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.time-file {
  width: 360px;
  height: 40px;
}
.activ {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  margin-bottom: 24px;
}
.box {
  text-align: center;
}

.chose-activ {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  color: #2e2f42;
}

.on {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.on:hover,
.on:focus {
  background: #6c8cff;
}
.on[disabled] {
  background: #cfcfcf;
  color: #989898;
}
